.additional-goods__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}

.additional-goods__list {
  padding: 0;
  list-style: none;
}

.additional-goods h2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
}

.item-flex div:nth-child(1) {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

.item-flex div:nth-child(2),
.item-flex div:nth-child(3) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @special-dark-grey-1;
}

.additional-link {
  display: block;
  width: 280px;
  padding: 10px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  box-sizing: border-box;
  cursor: pointer;
}

.additional-goods__banner {
  max-width: 280px;
  height: 289px;
  background-image: url("../../img/decorative/additional-goods-img@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: @basic-green;
}

.banner-content {
  margin: 0 auto;
}

.banner-content__text {
  margin: 0;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-align: center;
}
