.additional-goods__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto 87px auto;
    padding: 0 110px;
    max-width: 1220px;
  }
}

.additional-goods__list {
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 0 auto 70px auto;
    padding: 27px 37px 26px 37px;
    border: 1px solid @special-grey-2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.additional-goods__container h2 {
  padding: 0 20px 0 20px;
  margin: 0 0 38px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  background-color: @basic-white;
  position: relative;
  left: -20px;
  max-width: 230px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 37px;
    margin: 0 0 80px 0;
    left: 0;
    max-width: 375px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 40px;
    left: -40px;
    width: 100%;
  }
}

.additional-goods__list::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: @basic-green;
  transform: translateY(-48px);
  z-index: -1;

  @media (min-width: @tablet-width) {
    transform: translateY(-122px);
  }

  @media (min-width: @desktop-width) {
    transform: translateY(-93px);
  }
}

.additional-goods__banner {
  margin: 0 0 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 280px;
  min-height: 289px;
  background-image: url("../../img/decorative/additional-goods-img@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: @basic-green;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/decorative/additional-goods-img@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 76px 0;
    max-width: 708px;
    min-height: 200px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("../../img/decorative/additional-goods-img-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/decorative/additional-goods-img-tablet@2x.png");
      background-size: 798px auto;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 245px;
    min-height: 289px;
    background-image: url("../../img/decorative/additional-goods-img@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/decorative/additional-goods-img@2x.png");
      background-size: 280px auto;
      background-position: 70% 0;
    }
  }
}

.additional-goods__banner-text {
  margin: 0;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-align: center;
  width: 166px;

  @media (min-width: @tablet-width) {
    width: 151px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 83px 0 0 0;
    width: 178px;
    text-align: center;
  }
}

.additional-goods__banner::before {
  content: "";
  display: block;
  position: relative;
  margin: 23px auto 61px auto;

  width: 58px;
  height: 62px;
  background-image: url("../../img/decorative/banner-gift-ico.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    margin: 0;
    top: -5px;
    left: -26px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    top: 22px;
    left: 0;
  }
}
