.benefits__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}

.benefits__container h2 {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits__item p {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey-1;
}
