.catalog-category__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}

.catalog-category__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-category__item {
  margin: 0 0 20px 0;
  background-color: @basic-grey;
}

.catalog-category__content h3 {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;
}

.catalog-category__content p {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey-1;
}

.catalog-category__content a {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;
}
