.catalog-title {
  margin: 0 auto;
  max-width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    max-width: 708px;
    padding: 0 30px 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding: 0 110px 0 110px;
  }
}

.catalog-title h1 {
  margin: 27px 0 40px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 49px 0 163px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 188px 0 166px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
