.demo {
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: @basic-white;
    z-index: 0;
  }
}

.demo__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    padding: 0 30px 83px 30px;
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 0 auto;
    padding: 0 110px;
    max-width: 1220px;
    min-height: 598px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.demo__container::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 462px;
    background-color: @special-grey-2;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 462px;
    background-color: @basic-grey;
  }
}

.demo__text {
  padding: 28px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 436px;
    padding: 0;
  }
}

.demo__text h2 {
  margin: 0 0 33px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 0 0 64px 0;
    font-size: 60px;
    line-height: 60px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #EBEBEB;
      transform: translateY(-44px);
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 147px 0;
    font-size: 60px;
    line-height: 60px;

    &::before {
      content: none;
    }
  }
}

.demo__text p {
  margin: 0 0 24px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey-1;

  @media (min-width: @tablet-width) {
    margin: 0 0 53px 0;
    font-size: 16px;
    line-height: 24px;
    max-width: 678px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 68px 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.demo__description-container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.demo__description-list {
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 36px 0;
  }
}

.demo__description-item {
  display: block;
  position: relative;
  min-width: 124px;
  border: 1px solid @special-grey-1;
  border-radius: 3px;
  padding: 15px 0 6px 0;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 0 42px 0 0;
    padding: 15px 0 9px 0;
    min-width: 162px;

    &.demo__description-item:last-child {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 42px 0 0;
    padding: 15px 0 8px 0;
    min-width: 162px;
  }
}

.demo__description-text {
  margin: 0;
  padding: 0 5px 0 5px;
  width: 80px;
  position: absolute;
  top: 46px;
  left: 60px;
  transform: translateX(-50%);
  background-color: @basic-grey;

  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey-1;

  @media (min-width: @tablet-width) {
    padding: 0 5px 0 5px;
    width: 130px;
    top: 63px;
    left: 80px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    padding: 0 5px 0 5px;
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-grey;
  }
}

.demo__description-text-lead {
  margin: 0 0 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 0 10px 0;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 10px 0;
    font-size: 30px;
    line-height: 37px;
  }
}

p.demo__description-total {
  margin: 0 0 45px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @basic-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 8px 0 0 0;
    width: 180px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: left;
  }
}

p.demo__description-total span {
  @media (min-width: @desktop-width) {
    padding: 0 0 0 59px;
  }
}

.demo__img {
  padding: 0 0 10px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 650px;
  }
}

.demo__img-container {
  text-align: center;
  margin: 0 0 13px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    position: relative;
    top: 31px;
    left: 0;
    height: 571px;
    width: 708px;
    background-image: url("../../img/content/cats-comparison-tablet@1x.png");
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content/cats-comparison-tablet@2x.png");
      background-size: 708px auto;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -58px;
    left: 1px;
    width: 640px;
    height: 536px;
    background-image: url("../../img/content/cats-comparison-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content/cats-comparison-desktop@2x.png");
      background-size: 640px auto;
    }
  }
}

.demo__img-container img {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.demo__slider {
  margin: 0 0 23px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.demo__slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 216px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 14px;
    left: 0;
    max-width: 570px;
  }

  @media (min-width: @desktop-width) {
    top: -38px;
    left: 39px;
  }
}

.demo__slider-scale {
  margin: 0 auto;
  height: 14px;
  width: 84px;
  border: 1px solid @special-grey-1;
  border-radius: 6px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    height: 6px;
    width: 428px;
    border-radius: 6px;
    background-color: @special-grey-1;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    height: 6px;
    border-radius: 6px;
    background-color: @special-grey-1;
  }
}

.demo__slider-scale .demo__slider-scale-toggle {
  display: block;
  position: relative;
  top: 50%;
  left: 6px;
  height: 6px;
  max-width: 35px;
  border-radius: 6px;
  background-color: @basic-green;
  transform: translateY(-50%);

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 34px;
    height: 34px;
    border: 1px solid @special-grey-1;
    border-radius: 50%;
    background-color: @basic-white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border: 1px solid @basic-green;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 34px;
    height: 34px;
    border: 1px solid @special-grey-1;
    border-radius: 50%;
    background-color: @basic-white;
    box-shadow: 0 2px 2px rgba(var(--basic-black-rgba), 0.18);
    cursor: pointer;
  }
}

.demo__slider-scale-toggle::after {
  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: @basic-green;
  }

  @media (min-width: @desktop-width) {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: @basic-green;
  }
}

.demo__slider-button {
  display: block;
  padding: 5px 10px 5px 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 5px 0 5px 0;
    font-size: 20px;
    border-bottom: 1px dotted @special-grey-1;

    &:hover {
      border-bottom: 1px solid @special-grey-1;
    }

    &:active {
      border-bottom: 1px solid @special-grey-1-rgba-0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 5px 0 5px 0;
    font-size: 20px;
    border-bottom: 1px dashed @special-grey-1;
  }
}
