.footer {
  background-color: @basic-grey;
}

.footer__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__link,
.footer__link {
  display: block;
}

.footer__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey-1;
}

.footer__link--energy-logo {
  height: 24px;
  width: 128px;
  background-image: url("../../img/logos/text-logo-footer.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__link--vkontakte {
  height: 23px;
  width: 23px;
  background-image: url("../../img/decorative/footer-icon-vkontakte.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__link--instagram {
  height: 23px;
  width: 23px;
  background-image: url("../../img/decorative/footer-icon-instagram.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__link--facebook {
  height: 23px;
  width: 23px;
  background-image: url("../../img/decorative/footer-icon-facebook.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
