.footer {
  background-color: @basic-grey;
}

.footer__container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    width: 1220px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 35px 0;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    min-height: 150px;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__link {
  display: inline-block;
  vertical-align: middle;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey-1;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__link svg {
  display: inline-block;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 30px;
  }
}

.footer__link--academy-logo {
  &:hover,
  &:hover svg {
    opacity: 1;
    fill: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @mobile-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__link--energy-logo {
  display: block;
  margin: 0 auto 25px auto;
  text-align: center;
  height: 24px;
  width: 128px;
  background-image: url("../../img/logos/text-logo-footer.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
