.form-title__container {
  margin: 0 auto;
  max-width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    max-width: 666px;
    padding: 0 27px 0 70px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
  }
}

.form-title__container h1 {
  margin: 27px 0 37px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 48px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 100px 0 56px 0;
  }
}

.form-title__container p {
  margin: 0 0 38px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 0 0 66px 0;
    max-width: 324px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 324px;
    font-size: 20px;
    line-height: 30px;
  }
}
