.location__container {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.location__container iframe {
  display: block;
  border: none;
  height: 362px;
  background-color: @special-grey-2;
}

.location__contacts {
  background-color: @basic-white;

  &--grey-fill {
    background-color: @basic-grey;
  }
}

.location__contacts-content {
  margin: 0 auto;
  width: 280px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 625px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 100px;
    left: 175px;

    max-width: 405px;
    padding: 50px 90px 50px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: @basic-white;
  }
}

.location__contacts-title {
  margin: 0;
  max-width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @basic-black-extra;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 170px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    max-width: 170px;
    font-size: 20px;
    line-height: 21px;
  }
}

.location__contacts-text {
  margin: 0;
  max-width: 140px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey-1;

  @media (min-width: @tablet-width) {
    max-width: 170px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    max-width: 170px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.location__contacts-text span {
  @media (min-width: @tablet-width) {
    display: inline-block;
    margin: 5px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin: 5px 0 0 0;
  }
}
