.location__container {
  background-color: @basic-white;

  &--grey-fill {
    background-color: @basic-grey;
  }
}

.location__container iframe {
  display: block;
  border: none;
  height: 362px;
  background-color: @special-grey-2;
}

.location__contacts {
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
}

.location__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @basic-black-extra;
  text-transform: uppercase;
}

.location__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey-1;
}
