.promo {
  background-color: @basic-green-2;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    min-height: 694px;
    margin: 0 0 82px 0;
    position: relative;
    background-image: url("../../img/content/index-promo-bg-desktop@1x.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content/index-promo-bg-desktop@2x.png");
    }
  }
}

.promo__container {
  position: relative;
  margin: 0 auto 200px auto;
  min-height: 302px;
  width: 320px;
  background-image: url("../../img/content/index-promo-bg-mobile@1x.png");
  background-position: 64% 0;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/content/index-promo-bg-mobile@2x.png");
    background-size: 563px auto;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 856px;
    padding: 0 30px;
    margin: 0 auto;
    background-image: url("../../img/content/index-chicken-tablet@1x.png");
    background-position: 47% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content/index-chicken-tablet@2x.png");
      background-size: 708px auto;
    }
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 0;
    z-index: 0;

    width: 1220px;
    padding: 0 110px;
    height: 694px;
    background-image: none;
  }
}

.promo__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 11px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    color: @basic-white-rgba-3;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 0 87px;
    padding: 17px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 80px;
  }
}

.promo__container a {
  position: relative;
  bottom: -302px;
  left: 0;

  @media (min-width: @tablet-width) {
    top: 0;
    left: -5px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }
}

.promo__content {
  max-width: 280px;
  padding: 28px 20px 0 20px;

  @media (min-width: @tablet-width) {
    max-width: 414px;
    padding: 47px 0 0 87px;
  }

  @media (min-width: @desktop-width) {
    max-width: 414px;
    padding: 224px 0 0 80px;
  }
}

.promo__content::after {
  content: "";
  position: absolute;
  display: block;
  top: 168px;
  left: 20px;
  width: 280px;
  height: 270px;
  background-image: url("../../img/content/index-chicken-mobile@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/content/index-chicken-mobile@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    content: none;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    display: block;
    top: 141px;
    left: 557px;
    width: 552px;
    height: 499px;
    background-image: url("../../img/content/index-chicken-desktop@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content/index-chicken-desktop@2x.png");
      background-size: 552px auto;
    }
  }
}

.promo__content h1 {
  margin: 0 0 24px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 0 42px 0;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 40px 0;
  }
}

.promo__content p {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @basic-white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 0 48px 0;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 52px 0;
  }
}
