.main-nav {
  background-color: @basic-white;
}

.main-nav__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}

.main-nav__logo-link {
  display: block;
  width: 190px;
  height: 38px;
  background-image: url("../../img/logos/logo-header-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-nav__toggle {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-list__item a {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
}
