//COLORS
@basic-white: #FFFFFF;
@basic-black: #000000;
@basic-black-extra: #111111;
@basic-green: #68B738;
@basic-green-2: #5EAA2F;
@basic-grey: #F2F2F2;
@special-grey-1: #CDCDCD;
@special-grey-2: #EBEBEB;
@special-grey-3: #666666;
@special-dark-grey-1: #444444;
@special-dark-grey-2: #222222;
@status-error: #FF8282;

//VIEPORTS
@tablet-width: 768px;
@mobile-width: 320px;
@desktop-width: 1440px;
